html {
  @apply bg-light text-secondary mx-8;
}

img:hover {
  pointer-events: visible;
}

img:active {
  pointer-events: none;
}

::selection {
  @apply bg-primary;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-light;
}

::-webkit-scrollbar-track {
  @apply bg-secondary;
}

.rhm-rn-navigation__icon,
.rhm-rn-navigation__icon::before, 
.rhm-rn-navigation__icon::after{
  background-color: rgb(255 255 250) !important;
  cursor: pointer;
}

.rhm-rn-navigation__checkbox:checked + .rhm-rn-navigation__button .rhm-rn-navigation__icon {
  background-color: transparent !important;
  cursor: pointer;
}

.rhm-rn-navigation nav, .rhm-rn-navigation label {
  @apply shadow-2xl;
}